:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color:#FFF
}


/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)), url(https://images.alphacoders.com/675/thumb-1920-675480.jpg);
    
    height: 550px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo{
    font-size: 40px;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}
